input {
  outline: none;
  border-radius: 5px;
} /* Dropdown transition */
.dropdown-transition {
  transition-property: max-height, opacity;
  transition-duration: 0.5s; /* Adjust the duration as needed */
  transition-timing-function: ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

/* Apply transition when the dropdown is open */
.dropdown-open {
  transition-duration: 0.5s; /* Adjust the duration as needed */
  transition-timing-function: ease-in-out;

  max-height: fit-content; /* Adjust the max height as needed */
  opacity: 1;
}
.dropdown-open span {
  display: block;
  color: #9587e2;
  text-decoration: none;
  padding: 10px 10px ;
  transition: background-color 0.3s;
}
.icon {
  transition: transform 0.5s ease;
  cursor: pointer;
  /* transform: rotate(90deg); */
}
.dropdown-open span:hover {
  background-color: #9587e2; /* Darker blue for the active link */
  font-weight: bold;
  transition: .5s;
  color: white;
  cursor: pointer;
}
