@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Crete Round;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f4fe;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
