@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* color: rgb(45, 97, 133);2 */

  font-family: Droid sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f4fe;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"]::first-letter {
  text-transform: uppercase !important;
}

.form-control {
  padding: 0;
}

.receipt {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, sans-serif;
  border: 1px solid #000;
}

.gradient {
  background: linear-gradient(
    120deg,
    #ffffff,
    #5587f3,
    #0051ff,
    #4e4199,
    #5073b8,
    #1098ad,
    #07b39b,
    #6f7dba
  );
  background-size: 1600% 1600%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
/* Loader.css */
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007bff; /* You can set the loader color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.boxShadow {
  box-shadow: 10px 10px 10px rgb(203, 208, 209);
}

.active-tab {
  color: #ff0000; /* Change the text color for active tabs */
  background-color: #ffff00; /* Change the background color for active tabs */
}
